@font-face{font-family:Inter;src:url(inter-latin.woff2) format('woff2');font-weight:400 900;font-style:normal;font-display:swap}
@font-face{font-family:Switzer;src:url(switzer-variable.woff2) format('woff2');font-weight:100 900;font-style:normal;font-display:swap}
